<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MakeMyTrip"
        tools:targetApi="31">
        <activity
            android:name=".FlightPayment"
            android:exported="false" />
        <activity
            android:name=".Country"
            android:exported="false" />
        <activity
            android:name=".ViewBookedFlights"
            android:exported="false" />
        <activity
            android:name=".ViewManageTrips"
            android:exported="false" />
        <activity
            android:name=".FlightDetailActivity"
            android:exported="false" />
        <activity
            android:name=".FlightPage"
            android:exported="false" />
        <activity
            android:name=".ChangeImage"
            android:exported="false" />
        <activity
            android:name=".MyAccount"
            android:exported="false" />
        <activity
            android:name=".DummyUPIPayment"
            android:exported="false" />
        <activity
            android:name=".PaymentGateway"
            android:exported="false" />
        <activity
            android:name=".splash_screen"
            android:exported="true"
            android:theme="@style/Theme.MakeMyTrip1">
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterPage"
            android:exported="false" />
        <activity
            android:name=".Wishlist"
            android:exported="false" />
        <activity
            android:name=".ViewBookedHotels"
            android:exported="false" />
        <activity
            android:name=".HotelDetailActivity"
            android:exported="false" />
        <activity
            android:name=".HotelPage"
            android:exported="false" />
        <activity
            android:name=".home"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>